//Variables
$primary: #1a202e;
$secundary: #4a5568;
$orange: #ed8936;
$boton-add: #e2e8f0;


//Bootstrap

@import'bootstrap/bootstrap.scss';

//=================================================

body{
	font-family: 'Poppins', sans-serif;
    color: $primary;
    padding-left: 1.5rem;
	padding-right: 1.5rem;

}

h1,h2,h3,h4,h5,h6{
	margin: 0;
}

img{
	max-width: 100%;
}

a, .btn-link{
	&:hover{
		text-decoration: none;
	}
}


//=================================================
// HEADER
//=================================================

header{
	background: #edf2f7;
	padding: 10px 0;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;

	h1{
		font-size: 24px;
		font-weight: 600;
		text-transform: uppercase;
	}

	.avatar-container{
		width: 60px;
		height: 60px;
		position: relative;
		cursor: pointer;

		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
			border-radius: 50%;
		}

		i{
			position: absolute;
			left: 0;
			top: 0;
			font-size: 20px;
			color: $primary;
		}
	}
}

.profile-options-modal{
	.profile-options-list{
		padding: 0;
		margin: 0;
		list-style: none;

		li{
			a{
				display: block;
				padding: 10px 0;
				color: $secundary;

				i{
					display: inline-block;
					width: 18px;
					text-align: center;
					margin-right: 5px;
					color: $secundary;
				}
            
				.rojo{
					color: red;
				}
			}
		}
	}
}


//=================================================
// MAIN
//=================================================

.main{
	padding-top: 80px;
}

.search-container{
	padding-top: 30px;

	input{
		display: block;
		width: 100%;
		margin-bottom: 10px;
		border: 1px solid #ccc;
		font-size: 14px;
		padding: 8px 10px;
		border-radius: 4px;
	}

	button{
		background-color: $orange;
		color: #ffffff;
	}
}

.products-list-container{
	padding-top: 30px;

	ul{
		padding: 0;
		margin: 0;
		list-style: none;

		li{
			border: 2px solid rgb(235, 235, 235);
			background: #fff;
			margin-bottom: 20px;
			border-radius: 6px;
			overflow: hidden;

			.product-image{
				img{
					width: 100%;
					height: 200px;
					object-fit: cover;
					object-position: center;
				}
			}

			.product-info{
				padding: 20px;
				display: flex;
				justify-content: space-between;
				align-items: center;
				position: relative;
			}

			.product-name{
				font-weight: 700;
				font-size: 20px;
				color: $secundary;
			}

			.descripcion{
				margin-bottom: 10px;
				font-size: 11px;
				color: #807e7e;
				font-weight: 600;
				font-weight: 400;
				padding-top: 10px;
			}

			.product-price{
				font-size: 18px;
				margin: 0;
				font-weight: 300;
				color: $secundary;
				opacity: 0.9;

			}

			.pedir{
				button{
					background-color: #E2E8F0;
					color:$secundary;
				}
			}
		}
	}
}